

.displayOnePinPage {
    /* height: 100%; */
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;

}

.grandparentMainImageDiv{
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
    /* background-color: grey;
    padding-top: 35px;
    height:100%; */
}

.imageButtonContainer{
  width:100%;
}

.imageInputButtons{
  width: 896px;
  height:40px;
  background-color: #ffe1e6;
  margin-left: auto;
  margin-right:auto;
  display: flex;
justify-content: flex-end;
border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.onePinImage{
  width: 496px;
  height:auto;
  margin-top:10px;
}

.imageContainer{
  width:896px;
  background-color: #ffe1e6;
  min-height:100%;
  margin-left: auto;
margin-right: auto;
display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
    border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

/* overflow:scroll; */
}

.mainImageDiv{
padding-top: 20px;
width:100%;
height:100%;
}

.selectDropDown{
  width: 172px;
  height:28px;
    margin-top: 2%;
    font-size:12px;
    font-weight: 400;
    border-radius: 4px;
}

.saveButton{
  width:63px;
  height:28px;
  margin-right: 2%;
    margin-top: 2%;
    background-color: rgb(230, 0, 35);
    border-bottom-color:
rgb(0, 0, 0);
border-bottom-right-radius:
8px
;
border-top-right-radius: 8px;
font-weight: 700;
font-size:16px;
color: #FFF;

}

.pinTitleForDisplay{
    margin-top: 25%;
    font-weight: 700;
font-size: 25px;
color: #333;
}
