

.displayOnePinPage {
    /* height: 100%; */
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;

}

.grandparentMainImageDiv{
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
    /* background-color: grey;
    padding-top: 35px;
    height:100%; */
}

.imageButtonContainer{
  width:100%;
}

.imageInputButtons{
  width: 896px;
  height:40px;
  background-color: pink;
  margin-left: auto;
  margin-right:auto;
}


.onePinImage{
  width: 496px;
  height:auto;
  margin-top:10px;
}

.imageContainer{
  width:896px;
  background-color: pink;
  min-height:100%;
  margin-left: auto;
margin-right: auto;
display: flex;
    justify-content: space-evenly;

/* overflow:scroll; */
}

.mainImageDiv{
padding-top: 20px;
width:100%;
height:100%;
}
