html, body {
  height: 100%;
}


.onePinImage{
  width: 496px;
  height:auto;
  margin-top:10px;
}

.imageContainer{
  width:896px;
  background-color: pink;
  min-height:100%;
  margin-left: auto;
margin-right: auto;

/* overflow:scroll; */
}

.mainImageDiv{

width:100%;
height:100%;
}

.grandparentMainImageDiv{
    background-color: grey;
    padding-top: 35px;
    height:100%;
}
