
.logo{
  height: 28px;
  width: 28px;
  padding-right: 5%;
}

.logoAndSearch{
  height: 40px;
  display: flex;
    justify-content: end;
    align-items: center;
        border-bottom:1px solid grey;
        position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

.searchBoxAndMagnifyingStyling{
  width: 80%;
  border: 0;
  border-radius: 4px;
      background-color: transparent;
      background-color: #cccccc;
      display: flex;
justify-content: end;
    align-items: center;
}

.listItems ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.listItems{
      width: 100%;
}

.searchBox{
  -webkit-font-smoothing: antialiased;
width: 80%;
border: 0;
border-radius: 4px;
    background-color: transparent;
    background-color: #cccccc;
    font-size: 16px;
    font-weight: 600;
    height: 30px;



}
