
.logo{
  height: 28px;
  width: 28px;
  padding-right: 5%;
}

.logoAndSearch{
  display: flex;
    justify-content: end;
    align-items: center;
}

.listItems ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.listItems{
      width: 100%;
}

.searchBox{
  width: 80%;
}
