.addButton{
  height:24px;
  width:24px;
}


.editButtonsPinBoards{
  display: flex;
    padding-left: 10%;
}


/* .parentUserBoard{
display: flex;
justify-content: space-around;

}

.displayUsersBoards{
  background-color: blue;
  width:300px;
  height:265px;
}

.displayPinsOnBoard{
  background-color: pink;
  height:80%;
} */
